@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  margin: 0 20px;
}

.bg {
  background: linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
    linear-gradient(to bottom, #4f4f4f2e 1px, transparent 1px);
  background-size: 14px 24px;
}

.mask-image {
  -webkit-mask-image: radial-gradient(
    ellipse 60% 50% at 50% 0%,
    #000 70%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 60% 50% at 50% 0%,
    #000 70%,
    transparent 100%
  );
}

.container {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color del pulgar del scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cambio de color del pulgar al pasar el ratón */
}
